<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857378325257-7deptq30d9kuj510s5tt7hbbj0mkmf55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857378325257-7deptq30d9kuj510s5tt7hbbj0mkmf55</string>
	<key>API_KEY</key>
	<string>AIzaSyA31QC2AAR8hiMD09irxeAq5DX176lEXDA</string>
	<key>GCM_SENDER_ID</key>
	<string>857378325257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kisahcode.educationApp</string>
	<key>PROJECT_ID</key>
	<string>education-app-3ead6</string>
	<key>STORAGE_BUCKET</key>
	<string>education-app-3ead6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857378325257:ios:42cc40decf3c9ca71389d8</string>
</dict>
</plist>